body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #23053f;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  color: rgb(222, 12, 12);
  font-family: Helvetica, sans-serif;
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 70%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.article {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.article img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article h4 {
  margin-top: 0;
}

.article p {
  margin-top: 10px;
}

.article a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

img {
  max-width: 270px;
}
